
		* {
		  box-sizing: border-box;
	  }
		div.container{
			position:fixed;
			padding: 3vw 3vw;
			top: 400px;
            		left: 450px;
            		width:auto;
            		height:auto;
            		margin-top: -9em;
            		margin-left: -15em;
		  	text-align: center;
		}
	  header{
             box-shadow: 0 0.3em 0.6em -0.5em;
	  }
	  button{
	  	height:auto;
	  	width:auto;
	  	padding: 12px 25px;
    	margin: 20px 20px;
    	border-radius: 5px;
    	font-weight:550;
	  }
	  h3{
	  	display:inline;
	  	font-family:  Marlowe;
	  	font-weight: lighter;
	  	font-size: 40px;
	  	text-align:center;
	  }
		button#yes{
		  background-color: #20B585;
		  color: white;
		}
		button#yes:hover{
			background-color: #20DF8F;
		}
		button#no{
		  background-color: #FFFFFF;
		  color: black;
		}
		button#no:hover{
			background-color: #E0E0E0;
		}
		@media screen and (max-width: 600px) {
			h3{
				font-size:30px
				}
    		div.container{
    				top:310px;
    				left:240px;
    			}
    	}
